In [2]:
import os

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\Hp\\Videos\\classification implementation - machine learning with MLFlow'

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('artifacts/data_ingestion/cleaned_classification.csv')
data.head()

,label,credit_duration(month),credit_amount,duration_of_current_employment,installment_percent,guarantors,duration_in_current_address,age,concurrent_credits,no_of_credits_at_the_bank,no_of_dependents,account_type,payment_status_of_previous_loan,loan_purpose,savings_type,marital_status,most_valuable_asset,type_of_apartment,foreign_worker,occupation
0,0,18,1049,2,4,1,4,21,3,1,1,1,4,2,1,2,2,1,1,3
1,0,9,2799,3,2,1,2,36,3,2,2,1,4,0,1,3,1,1,1,3
2,0,12,841,4,2,1,4,23,3,1,1,2,2,9,2,2,1,1,1,2
3,0,12,2122,3,3,1,2,39,3,2,2,1,4,0,1,3,1,1,2,2
4,0,12,2171,3,4,1,4,38,1,2,1,1,4,0,1,3,2,2,2,2

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   label                            1000 non-null   int64
 1   credit_duration(month)           1000 non-null   int64
 2   credit_amount                    1000 non-null   int64
 3   duration_of_current_employment   1000 non-null   int64
 4   installment_percent              1000 non-null   int64
 5   guarantors                       1000 non-null   int64
 6   duration_in_current_address      1000 non-null   int64
 7   age                              1000 non-null   int64
 8   concurrent_credits               1000 non-null   int64
 9   no_of_credits_at_the_bank        1000 non-null   int64
 10  no_of_dependents                 1000 non-null   int64
 11  account_type                     1000 non-null   int64
 12  payment_status_of_previous_loan  1000 non-null   int64
 13  loan_purpose                     1000 non-null   int64
 14  savings_type                     1000 non-null   int64
 15  marital_status                   1000 non-null   int64
 16  most_valuable_asset              1000 non-null   int64
 17  type_of_apartment                1000 non-null   int64
 18  foreign_worker                   1000 non-null   int64
 19  occupation                       1000 non-null   int64
dtypes: int64(20)
memory usage: 156.4 KB

In [16]:
data['account_type'].nunique()
data['payment_status_of_previous_loan'].unique()

array([4, 2, 3, 0, 1], dtype=int64)